
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regras padrão: Usuários só acessam seus próprios dados.
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Permissão para todas as subcoleções (contas, transações, investimentos, etc.)
      match /{allSubcollections=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
